$icon-font-path: '../fonts/';
// $fa-font-path: "../bower_components/font-awesome/fonts";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* Space out content a bit */
body {
  padding-top: 40px;
  padding-bottom: 20px;
  background: #00C58D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  // color: #505164;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

.radio, .checkbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lead, .section-heading {
  color: #777;
  // color: #00C58D;
}

.section-heading {
  margin-left: -25px;
  padding-left: 25px;
  margin-right: -25px;
  padding-right: 25px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  padding-top: 20px;
  h4 {
    font-weight: 500;
  }
}

.panel {
  border: none;
}
.panel-default > .panel-heading {
  background-color: #fff;
}
.panel-heading {
  padding: 20px 25px;
  padding-bottom: 28px;
  h2 {
    color: #00C58D;  
  }
}
.panel-body {
  padding: 0 25px;
}
.panel-footer {
  padding-top: 10px; 
}
.btn-default {
  background-color: transparent;
}
.task-meta {
    // color: #d9dbdc;
}
// Todolist styling
li.ui-state-default {
  background: #fff;
  border: none;
  border-bottom: 1px solid #eeeeee;
  margin-left: -25px;
  padding-left: 25px;
  margin-right: -25px;
  padding-right: 25px;
  color: #777777;
}
li.ui-state-default.done label {
  text-decoration: line-through;
  color: #d9dbdc;
}

.panel-section ul {
  margin-bottom: 0;
}

.panel-section:last-child li:last-of-type {
  border-bottom: none;
}
.panel-section:last-child h4:last-of-type {
  border-bottom: none;
}

.collapsing {
  // margin-top: -10px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 650px;
  }
}

// Section tools 
.btn {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid transparent;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  box-shadow: none !important;
  color: #97a0b3;
  margin-top: 23px;
}
.btn:focus {
  outline: none !important;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.label {
  font-weight: inherit;
}
.label-success {
  background-color: #00C58D;
}

.badge {
  background-color: #C7C7C7;
  font-weight: 300;
  margin-left: 5px;
  padding: 7px 10px;
}
.badge-success {
  background-color: #00C58D;
}

.checkbox-success input[type="checkbox"]:checked + label::before, .checkbox-success input[type="radio"]:checked + label::before {
  background-color: #00C58D;
  border-color: #00C58D;
}

.progress {
  min-width: 240px;
  margin-top: 32px;
  margin-left: 15px;
}
.progress-label {
  position: absolute;
  top: 8px;
}

