$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #00C58D;
  font-family: 'Open Sans', sans-serif;
  // color: #505164;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

.radio, .checkbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lead, .section-heading {
  color: #B5BABC;
}

.panel {
  border: none;
}
.panel-default > .panel-heading {
  background-color: #fff;
}
.panel-heading {
  padding: 10px 25px;
}
.panel-body, .panel-footer {
  padding: 10px 25px;
}
.btn-default {
  background-color: transparent;
}
// Todolist styling
li.ui-state-default {
  background: #fff;
  border: none;
  border-bottom: 1px solid #eeeeee;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

