<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>web check</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

      <div class="container">
      
        <div id="app">

          <div class="panel panel-default">

            <div class="panel-heading">
              <h2>Project checklist</h2>
              <p class="text-muted">Webdesigner's checklist with persistant storage</p>
            </div><!-- /.panel-heading -->

            <div class="panel-body">
              <div class="panel-section" v-for="task in tasks">
                <div class="section-heading clearfix" >
                  
                  <div class="row">
                    <div class="col-xs-4">
                      <h4>{{ task.name }}</h4>
                      <p>{{ task.items | remaining | count}}</p>
                    </div>

                    <div class="col-xs-6">
                      <div class="progress pull-right hidden-xs">
                        <div class="progress-label">Progress</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ task.items | remaining | percentage task.items }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.items | remaining | percentage task.items }}%;">
                          {{ task.items | remaining | percentage task.items }}%
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-2">
                      <div class="pull-right box-tools">
                        <button class="btn btn-box-tool" data-toggle="collapse" data-target="#collapse-{{ $index }}" title="Show Tasks"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <!-- Make the first section open -->
                <!-- <ul class="list-unstyled panel-collapse collapse" v-bind:class="{ 'in': $index == 0 }" id="collapse-{{ $index }}"> -->
                <ul class="list-unstyled panel-collapse collapse" id="collapse-{{ $index }}">
                  <li class="ui-state-default" v-bind:class="{ 'done': item.done == true, 'todo': item.done == false }" v-for="item in task.items">
                    <div class="checkbox checkbox-success">
                      <input type="checkbox" id="checkbox-{{ item.id }}" v-model="item.done">
                      <label for="checkbox-{{ item.id }}">
                        {{ item.name }}
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div><!-- /.panel-body -->

            <div class="panel-footer clearfix">
              <span class="pull-left text-muted">♥ from <a href="http://imaginarydesign.co.uk/" target="_blank">Adam</a></span>
              <button class="btn btn-sm btn-default pull-right" v-on:click="resetChecked" id="resetChecked">Reset</button>
            </div><!-- /.panel-footer -->

          </div><!-- /.panel -->

        </div><!-- /#app -->

      </div><!-- /.container -->
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
